<template name="Footer">
	<div id="footer">
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
            	<a href="#">
            		Home
            	</a>
            </li>
            <li>
            	<a href="#about">
            		Instructions
            	</a>
            </li>
            <li>
            	<a href="#contact">
            		Contact
            	</a>
            </li>
          </ul>
        </div>
        </nav>
	</div>
</template>